@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Luckiest+Guy&display=swap");

//---FONTS---//
$lato: "Lato", sans-serif;
$lucky: "Luckiest Guy", cursive;

//---FONT-WEIGHT---//
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;

//---FONT-SIZE---//
$font-size-24: 24px;
$font-size-18: 18px;
$font-size-30: 30px;
$font-size-32: 32px;

//---LINE HEIGHT---//
$line-height-18: 18px;
$line-height-21: 21.6px;
$line-height-24: 24px;
$line-height-30: 30px;
$line-height-32: 32px;

//---COLOR---//
$yellow: #f8b319;
$black: #000000;
$white: #f9f9f9;
$gray: #21242d;

//---border-radius---//
$button-border-radius-15: 15px;
$card-border-radius-20: 20px;
$search-border-radius-12: 12px;

//---opacity---//
$opacity-67: 67%;
$opacity-20: 20%;
