@import "./variables";
@import "./mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//---COMMON STYLES---//

.brand {
  display: flex;
  align-items: center;
  gap: 20px;
  .headerimage {
    width: 67px;
    height: 67px;
  }
  .brandname {
    font-family: $montserrat;
    font-weight: $font-weight-400;
    font-size: $font-size-48;
    line-height: $line-height-58;
    text-transform: capitalize;
    padding: 10px 0 10px;
  }
  .brandname::first-letter {
    font-family: $montserrat;
    font-weight: $font-weight-700;
    font-size: $font-size-48;
    line-height: $line-height-58;
  }
}

.headernavigation {
  max-width: 807px;
  width: 100%;
}
.headerul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 12px;
  padding: 10px 0 10px;
  margin-bottom: 0;
}
li {
  list-style: none;
  padding: 10px 14px;
  @include description;
}
a {
  @include description;
  text-decoration: none;
  text-transform: capitalize;
}

//----------HEADER----------//

.header-section {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 61px 250px 120px;
  .headercontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1420px;
    width: 100%;

    .cv {
      @include buttonprimary(188px, 52px);
      padding-block: 0;
      padding-inline: 0;
    }
  }
}
//----------FIRST SECTION----------//

.first-section {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 248px 270px 138.76px 250px;
  .introduction {
    display: flex;
    max-width: 1400px;
    width: 100%;
    gap: 163.64px;

    .introduction--text {
      display: flex;
      flex-direction: column;
      .hi {
        font-family: $poppins;
        font-weight: $font-weight-600;
        font-size: $font-size-24;
        line-height: $line-height-36;
        letter-spacing: $font-letter-3;
        margin-bottom: 0;
        padding-bottom: 6px;
      }
      .name {
        font-family: $poppins;
        font-weight: $font-weight-600;
        font-size: $font-size-32;
        line-height: $line-height-48;
        letter-spacing: $font-letter-3;
        color: $secondary-color-orange;
        text-transform: capitalize;
        margin-bottom: 0;
        padding-bottom: 4px;
      }
      .profession {
        font-family: $poppins;
        font-weight: $font-weight-700;
        font-size: $font-size-100;
        line-height: $line-height-120;
        letter-spacing: $font-letter-3;
        margin-bottom: 0;
        padding-bottom: 28px;
      }
      .profession::after {
        display: flex;
        content: " Designer";
        justify-content: end;
      }
      .profession-text {
        @include description;
        text-align: justify;
        margin-bottom: 0;
        padding-bottom: 28px;
      }
      .hireme {
        @include buttonprimary(188px, 52px);
        padding-block: 0;
        padding-inline: 0;
        text-transform: capitalize;
      }
    }
    .introduction-image {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 37px;
      .myimage {
        position: relative;
        display: flex;
        width: 485.87px;
        height: 485.87px;

        img {
          width: 100%;
          height: 100%;
        }
        .rectangle {
          width: 374px;
          height: 83px;
          background: rgba(253, 111, 0, 0.6);
          position: absolute;
          left: 66px;
          top: -47px;
        }
      }
      .social-icons {
        display: flex;
        gap: 25.03px;
      }
    }
  }
}
//----------SECOND SECTION----------//
.second-section {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 250px 139px 200px;
  .aboutmesection {
    display: flex;
    max-width: 1470px;
    width: 100%;
    gap: 33px;

    .aboutme-image {
      display: flex;
      align-items: center;

      .imgdiv {
        display: flex;
        position: relative;
        width: 681px;
        height: 675px;
      }
      .aboutimg {
        width: 100%;
        height: 100%;
      }
      .rectangle2 {
        width: 374px;
        height: 83px;
        background: rgba(253, 111, 0, 0.6);
        position: absolute;
        left: 153px;
        top: 111px;
      }
    }
    .aboutme-text {
      max-width: 753px;
      width: 100%;
      .abouth {
        @include heading;
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 15px;
        padding-top: 55px;
        text-transform: capitalize;
      }
      .aboutp {
        @include description;
        margin-bottom: 0;
        padding-bottom: 15px;
        width: 100%;
      }
      .form-label {
        font-family: $poppins;
        font-weight: $font-weight-600;
        font-size: 24px;
        line-height: $line-height-36;
      }

      .form-range {
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        max-width: 753px;
        max-height: 12px;
        border-radius: 6px;
        background-color: rgba(253, 111, 0, 1);
        margin-bottom: 25px;
      }
      .form-range::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        appearance: none;
        background-color: rgba(253, 111, 0, 1);
      }

      .form-range::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        background-color: rgba(237, 236, 236, 1);
        width: 32px;
        height: 32px;
        border: 3px solid rgba(253, 111, 0, 1);
        margin-top: -11px;
      }
    }
  }
}
//----------THIRD SECTION----------//
.third-section {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 257px 139px 250px;
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1413px;
    width: 100%;
    gap: 50px;
    .service-texts {
      display: flex;
      flex-direction: column;
      align-items: center;
      .service-h2 {
        @include heading;
        margin-bottom: 0;
        padding-bottom: 15px;
      }
      .service-p {
        @include description;
        max-width: 932px;
        margin-bottom: 0;
        text-align: center;
      }
    }
    .card-container {
      width: 100%;
      display: flex;
      gap: 31px;
      .card {
        max-width: 330px;
        max-height: 100%;
        padding: 57px 18px 30px;
        background-color: rgba(248, 248, 248, 1);
        border: none;
        .icondiv {
          margin-bottom: 26px;
        }
        .icondiv1 {
          width: 70px;
          height: 70px;
        }
        .icondiv2 {
          width: 72px;
          height: 70px;
        }
        .icondiv3 {
          width: 47px;
          height: 70px;
        }
        .icondiv4 {
          width: 82px;
          height: 70px;
        }
        .cardh6 {
          @include cardtitle;
          margin-bottom: 15px;
        }
        .cardp {
          @include cardtext;
          margin-bottom: 0;
        }
        .card-icon {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
//----------FOURTH SECTION----------//
.fourth-section {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 247px 139px 247px;
  .myprojects-container {
    display: flex;
    align-items: center;
    max-width: 1423px;
    width: 100%;
    flex-direction: column;
    .myprojecttext {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      .projecth2 {
        @include heading;
        padding-bottom: 22px;
        margin-bottom: 0;
      }
      .myprojectp {
        @include description;
        text-align: center;
        max-width: 921px;
        margin-bottom: 0;
        padding-bottom: 59px;
      }
    }
    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 17px;
      width: 100%;
      padding-bottom: 106px;
      .button-1 {
        @include buttonsecondary(
          $secondary-btn-bg-color,
          $primary-color-black,
          70px
        );
      }
      .button-2 {
        @include buttonsecondary(
          $secondary-btn-bg-color,
          $primary-color-black,
          108px
        );
      }
      .button-3 {
        @include buttonsecondary($secondary-color-orange, $white, 190px);
      }
      .button-4 {
        @include buttonsecondary(
          $secondary-btn-bg-color,
          $primary-color-black,
          184px
        );
      }
      .button-5 {
        @include buttonsecondary(
          $secondary-btn-bg-color,
          $primary-color-black,
          234px
        );
      }
    }
    .projectimgcontainer {
      display: flex;
      gap: 44px;
      .projcard {
        display: flex;
        flex-direction: column;
        max-width: 445px;
        width: 100%;
        .crossed {
          position: relative;
          max-width: 445px;
          width: 100%;
          height: 489px;
          padding-right: 27px;
          padding-left: 144px;
          border-radius: 12px;
          background-color: #ffebdb;
          .imgdiv1 {
            width: 274px;
            height: 489px;
            .projimg {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .imgdiv2 {
            position: absolute;
            left: 39px;
            top: 87px;
            width: 274px;
            height: 405px;
            .projimg {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .projcardh6 {
          padding-top: 37px;
          margin-bottom: 0;
          font-family: $poppins;
          font-weight: $font-weight-400;
          font-size: $font-size-19;
          line-height: $line-height-28;
          color: $secondary-color-orange;
        }
        .projcardp {
          padding-top: 10px;
          margin-bottom: 0;
          font-family: $poppins;
          font-weight: $font-weight-700;
          font-size: $font-size-24;
          line-height: $line-height-36;
          color: $primary-color-black;
        }
      }
    }
  }
}
//----------FIFTH SECTION----------//
.testimonialssection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 139px;

  .testimonials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1087px;
    width: 100%;
    .testimonialsh2 {
      @include heading;
      text-align: center;
      margin-bottom: 0;
      padding-bottom: 15px;
    }
    .testimonialsp {
      @include description;
      text-align: center;
      max-width: 932px;
      margin-bottom: 0;
      padding-bottom: 72px;
    }
    .testimonials-img-container {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 1087px;
      width: 100%;
      gap: 11px;
      padding: 55px 77px 53px 48px;
      border-radius: 14px;
      background-color: $secondary-btn-bg-color;
      .testimonialsimgdiv {
        width: 235px;
        height: 235px;

        .testimonialsguy {
          width: 100%;
          object-fit: cover;
        }
      }
      .testimonialstext {
        padding-left: 18px;
        max-width: 698px;
        width: 100%;
        .testp {
          @include description;
          margin-bottom: 8px;
        }

        .testp::after {
          content: '"';
          transform: translate(-3px, 4px);
          color: $secondary-color-orange;
        }
        .testp::before {
          content: '"';
          color: $secondary-color-orange;
        }
        .testimonialsname {
          font-family: $poppins;
          font-size: 24px;
          line-height: 36px;
          text-align: justify;
          color: $primary-color-black;
        }
        .testimonialsposition {
          @include cardtext;
          margin-bottom: 0;
        }
      }
    }
    .testimonials-buttons {
      padding-top: 87px;
      .button {
        width: 57px;
        height: 16px;
        border-radius: 8px;
        border: none;
        background-color: #d9d9d9;
      }
      .button-2 {
        background-color: $secondary-color-orange;
      }
    }
  }
}
.design-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .design-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 932px;
    width: 100%;
    .designh2 {
      @include heading;
      text-align: center;
      width: 100%;
      padding-bottom: 15px;
      margin-bottom: 0;
    }
    .designp {
      @include description;
      text-align: center;
      max-width: 932px;
      padding-bottom: 48px;
      margin-bottom: 0;
    }
    .contactmydiv {
      display: flex;
      justify-content: center;
      width: 100%;
      form {
        display: flex;
        gap: 25px;
      }

      .design-input {
        width: 627px;
        height: 75px;
        padding: 22px 26px 21px 26px;
        border-radius: 14px;
        border: 1px solid #afafaf;
        background-color: $secondary-btn-bg-color;
      }
      .design-input::placeholder {
        @include description;
        color: #797979;
        text-transform: capitalize;
      }
      .design-button {
        @include contactbutton;
        color: $white;
        padding: 0;
        padding-block: 0;
        padding-inline: 0;
      }
    }
  }
}
///----------FOOTER----------//
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 109px;
  .footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1925px;
    width: 100%;
    .brand-footer {
      padding-bottom: 65px;
    }
    .headernavigation-footer {
      padding-bottom: 80px;
    }
    .social-icons-footer {
      padding-bottom: 146px;
    }
    .footerrights {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 1921px;
      width: 100%;
      height: 84px;
      background-color: #545454;
      .footerh3 {
        @include description;
        color: $white;
        margin-bottom: 0;
      }
      span {
        font-weight: 700;
        color: $secondary-color-orange;
      }
    }
  }
}

.burger-menu {
  display: none;
  position: relative;
  margin-left: 50px;
}
.burger-icon {
  width: 50px;
  height: 50px;
}
.content {
  position: absolute;
  top: 50px;
  left: -85px;
  display: none;
  flex-direction: column;
  // width: 200px;
  text-align: right;
  background-color: transparent;
  z-index: 5;
  @include description;
}
.content a {
  color: $primary-color-black;
  font-weight: bolder;
}
.burger-icon:hover {
  cursor: pointer;
}
.burger-menu:hover .content {
  display: flex;
  flex-direction: column;
}

//-------------------------MEDIA 1200px-------------------------//
@media screen and (max-width: 1200px) {
  .header-section {
    width: 100%;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;

    .headercontainer {
      width: 100%;
      justify-content: center;
      .brand {
        margin-right: 0;
        .brandname {
          margin-bottom: 0;
          font-size: 25px;
        }
      }

      .headernavigation {
        .headerul {
          gap: 0;
          .headerli {
            padding: 5px 7px;
            a {
              font-size: 18px;
            }
          }
        }
      }
      .cv {
        margin: 0;
        width: 150px;
        font-size: 15px;
      }
    }
  }
  .first-section {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    .introduction {
      width: 100%;
      gap: 30px;
      display: flex;
      justify-content: center;
      .introduction-image {
        max-width: 100%;
        max-height: 100%;
        .myimage {
          .rectangle {
            width: 360px;
            height: 83px;
          }
        }
      }
      .introduction--text {
        max-width: 600px;
        .profession {
          font-size: 60px;
        }
        .profession::after {
          display: flex;
          content: " Designer";
          justify-content: center;
        }
        .profession-text {
          font-size: 20px;
          text-align: left;
        }
      }
    }
  }

  .second-section {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    .aboutmesection {
      width: 100%;

      .aboutme-image {
        .imgdiv {
          max-width: 600px;
          max-height: 600px;
          .aboutimg {
            object-fit: contain;
            width: 100%;
            height: 100%;
          }
          .rectangle2 {
            width: 400px;
            height: 83px;
            top: 75px;
            left: 110px;
          }
        }
      }
      .aboutme-text {
        width: 100%;
        text-align: start;
      }
    }
  }
  .third-section {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    .services {
      max-width: 1100px;
    }
  }
  .fourth-section {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    .myprojects-container {
      .projectimgcontainer {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
      .button-container {
        .button {
          font-size: 15px !important;
        }
      }
    }
  }
  .design-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer {
    max-width: 100%;
    width: 100%;
    .footer-section {
      max-width: 100%;
      width: 100%;
      .footerrights {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

//-------------------------MEDIA 780px-------------------------//

@media screen and (max-width: 780px) {
  .header-section {
    width: 100%;
    margin-left: 20px;
    margin-right: 0;
    margin-bottom: 80px;

    .headercontainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .headernavigation {
        display: none;
      }
      .cvbutton {
        display: flex;
        flex-direction: row-reverse;

        .cv {
          display: flex;
          padding: 10px;
        }
      }
      .burger-menu {
        display: block;
        margin-right: 50px;
      }
    }
  }
  .first-section {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    .introduction {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      .introduction--text {
        margin-bottom: 100px;

        .profession {
          font-size: 100px;
        }
        .profession::after {
          display: flex;
          content: "Designer";
          justify-content: center;
        }
        .profession-text {
          text-align: start;
        }
      }
      .introduction-image {
        .myimage {
          width: 400px;
          height: 400px;
          img {
            width: 100%;
            height: 100%;
          }
          .rectangle {
            width: 260px;
            height: 83px;
          }
        }
      }
    }
  }
  .second-section {
    width: 100%;
    margin-left: 0;
    .aboutmesection {
      flex-wrap: wrap-reverse;
      justify-content: center;
      align-items: center;

      .aboutme-image {
        .imgdiv {
          max-width: 400px;
          max-height: 400px;
          .aboutimg {
            object-fit: contain;
            width: 100%;
            height: 100%;
          }

          .rectangle2 {
            width: 180px;
            height: 55px;
            top: 60px;
            left: 110px;
          }
        }
      }

      .aboutme-text {
        width: 100%;
        text-align: center;
      }
    }
  }
  .third-section {
    margin-left: 0;
    .services {
      .card-container {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
  .fourth-section {
    margin-left: 0;
    .myprojects-container {
      justify-content: center;
      align-items: center;
    }
    .button-container {
      flex-wrap: wrap-reverse;
      .button {
        font-size: 15px !important;
      }
    }
    .projectimgcontainer {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
  .testimonialssection {
    margin-left: 0;
    .testimonials-img-container {
      padding: 0 !important;
    }
  }
  .design-section {
    margin-left: 0;
    .design-container {
      .contactmydiv {
        display: block;
        max-width: 100%;
        .design-input {
          font-size: 15px !important;
        }
        .design-button {
          font-size: 15px !important;
        }
      }
    }
  }
  .headernavigation-footer {
    .headerul {
      padding: 5px 7px;
      li {
        padding: 5px 7px;
        a {
          font-size: 18px;
        }
      }
    }
  }
}
//-------------------------MEDIA 576px-------------------------//

@media screen and (max-width: 576px) {
  .header-section {
    width: 100%;
    margin: 20px 20px 40px 20px;
  }
  .first-section {
    justify-content: center;
    .introduction {
      justify-content: center;
    }
  }
  .second-section {
    width: 100%;
    margin: 20px 20px 40px 20px;
    .aboutmesection {
      flex-wrap: wrap-reverse;
      justify-content: center;
      align-items: center;
      max-width: 576px;
      width: 100%;

      .aboutme-image {
        .imgdiv {
          max-width: 400px;
          max-height: 400px;
          .aboutimg {
            object-fit: contain;
            width: 100%;
            height: 100%;
          }
          .rectangle2 {
            width: 180px;
            height: 50px;
            top: 75px;
            left: 110px;
          }
        }
      }
      .aboutme-text {
        width: 100%;
        text-align: center;
      }
    }
  }
  .footer-section {
    .headernavigation-footer {
      display: none;
    }
  }
}
